In [2]:
print("Hello World")

Hello World

In [8]:
name = "Amjad Aziz"
welcome = "Welcome to this program"

print(welcome, name)

Welcome to this program Amjad Aziz

In [11]:
name = "Amjad Aziz"
city = "karachi"
father = "Aziz Ahmed"

print("Hello, ", name, father, city, "Welcome to this program..")

Hello,  Amjad Aziz Aziz Ahmed karachi Welcome to this program..

In [1]:
name = "Amjad Aziz"
city = "karachi"
father = "Aziz Ahmed"

print(name, name, name)

Amjad Aziz Amjad Aziz Amjad Aziz

In [5]:
name = input("Give me your name: ")
city = input("Give me your City: ")
father = input("Give me your father name: ")

print("Hello Mr.", name, "your father name is", father, "your city is",city, "Welcome to this program..")

Give me your name:  Ali
Give me your City:  Islamabad
Give me your father name:  Amaan

Hello Mr. Ali your father name is Amaan your city is Islamabad Welcome to this program..

In [25]:
name = input("Give me your name: ")
city = input("Give me your City: ")
father = input("Give me your father name: ")

print(f"Hello Mr. {name},\n s/o {father} and you are from {city}")

Give me your name:  ALI
Give me your City:  Lhr
Give me your father name:  Sheraz

Hello Mr. ALI,
 s/o Sheraz and you are from Lhr

In [29]:
# x = "45"
# y = "8"

# print(x + y)
# # print("Karachi" + " " + "Karachi")

# print("4" * 4)

4444

In [32]:
print("Pakistan\n" * 100)

Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan
Pakistan

In [2]:
a = "Karachi"
b = 'Lahore'

print(type(b))

<class 'str'>

In [5]:
x = 'Quaid-e-Azam said, "Never Give up."'
y = "This is Arshad's pen."
a = str(4)
z = '''Quaid-e-Azam said, "Never Give up."
This is Arshad's pen.
I am Pakistani.'''

print(x)

Quaid-e-Azam said, "Never Give up."
This is Arshad's pen.
I am Pakistani.

In [31]:
# String is an iterable data structure
z = '''Quaid-e-Azam said, "Never Give up."
This is Arshad's pen.
I am Pakistani.'''
# print(z[])
print(z[5::-1])

-diauQ

In [33]:
name = input("Give me your name and I will give you the reverse of it: ")

print(f"The reverse of {name} is {name[::-1]}")

Give me your name and I will give you the reverse of it:  ANAS

The reverse of ANAS is SANA

In [36]:
pal = "LIGHT"
st = pal[::-1]

print(f"The word {pal} is palindrome of {st}")

The word LIGHT is palindrome of THGIL

In [4]:
a = "17"
b = 12
c = 2.3

print(type(c))

<class 'float'>

In [13]:
a = 4.1
b = 2.0

print(type(b))

<class 'float'>

In [17]:
num1 = input("Give me 1st number: ")
num2 = input("Give me 2nd number: ")

print(f"The Sum of {num1} and {num2} is {num1 + num2}")
print(f"The Subtraction of {num1} and {num2} is {num1 - num2}")
print(f"The Multiplication of {num1} and {num2} is {num1 * num2}")
print(f"The Division of {num1} and {num2} is {num1 / num2}")

Give me 1st number:  5
Give me 2nd number:  3

<class 'str'> <class 'str'>

In [27]:
a = float("2.8")
b = str(45)
c = str(1.2)
x = int(a) + 2

print(x)
print(type(c))

4
<class 'str'>

In [29]:
# a = 2.8
# b = int(a)
a = 5
b = float(a)
print(b)

5.0

In [35]:
a = (float("2"))
print(a)

2.0

In [38]:
a = "11"
b = int(a)
c = int(2.6)
d = b
b = 7.2

print(b + d)

9.2

In [39]:
num1 = int(input("Give me 1st number: "))
num2 = int(input("Give me 2nd number: "))

print(f"The Sum of {num1} and {num2} is {num1 + num2}")
print(f"The Subtraction of {num1} and {num2} is {num1 - num2}")
print(f"The Multiplication of {num1} and {num2} is {num1 * num2}")
print(f"The Division of {num1} and {num2} is {num1 / num2}")

Give me 1st number:  5
Give me 2nd number:  2

The Sum of 5 and 2 is 7
The Subtraction of 5 and 2 is 3
The Multiplication of 5 and 2 is 10
The Division of 5 and 2 is 2.5

In [40]:
width = int(input("What's the width"))
length = int(input("What's the length"))
area = width * length

print(f"The area is {area}")

What's the width 100
What's the length 20

The area is 2000

In [45]:
age = int(input("What's your age: "))

year = 2025 - age + 100

print(f"You will be 100 years old in {year}")

What's your age:  20

You will be 100 years old in 2105

In [48]:
a = int(input("What's your a: "))
b = int(input("What's your b: "))

formula = a**2 + b**2 + 2*a*b

print(f"The Answer is {formula}")

What's your a:  2
What's your b:  4

The Answer is 36

## Home task
* Ask Temprature in Celsius and Convert it into Fahrenheit
* Ask The User Weight and Height and Calculate its BMI

## Operators and precedence of operators left

In [2]:
day1 = int(input("Give me 1st profit: "))
day2 = int(input("Give me 2nd profit: "))

profit = (day1 + day2) / 2 

print(f"The profit to each is {profit}")

Give me 1st profit:  500
Give me 2nd profit:  200

The profit to each is 350.0

In [4]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32

print(f"Temperature in Fahrenheit: {fahrenheit:.2f}°F")

Enter temperature in Celsius:  37.558484

Temperature in Fahrenheit: 99.61°F

In [ ]:
weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in meters: "))

bmi = weight / (height ** 2)
print(f"Your BMI is: {bmi:.2f}")

In [9]:
for i in range(5):
    print("Yeh 500 Lines ka code he")

Yeh 500 Lines ka code he
Yeh 500 Lines ka code he
Yeh 500 Lines ka code he
Yeh 500 Lines ka code he
Yeh 500 Lines ka code he

In [11]:
for i in range(3):
    celsius = float(input("Enter temperature in Celsius: "))
    fahrenheit = (celsius * 9/5) + 32
    
    print(f"Temperature in Fahrenheit: {fahrenheit:.2f}°F\n-------------------\n")

Enter temperature in Celsius:  45

Temperature in Fahrenheit: 113.00°F
-------------------

Enter temperature in Celsius:  84

Temperature in Fahrenheit: 183.20°F
-------------------

Enter temperature in Celsius:  841

Temperature in Fahrenheit: 1545.80°F
-------------------

In [19]:
"2 x 1 = 2"
for i in range(1, 11):
    print(f"2 x {i} = {2*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

### Home Task
* Ask the User number of table and till where he wants and print the entire table

In [3]:
num = int(input("Which number of table do you want: "))
til = int(input("Till where you want: "))

for i in range(1, til+1):
    print(f"{num} x {i} = {num*i}")

Which number of table do you want:  50
Till where you want:  6

50 x 1 = 50
50 x 2 = 100
50 x 3 = 150
50 x 4 = 200
50 x 5 = 250

In [16]:
for i in range(0, 21, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20

In [20]:
for i in range(9, 0, -1):
    print(i)

9
8
7
6
5
4
3
2
1

In [22]:
y = "This is Arshad's pen."

for i in y:
    print("i is ", i)

i is  T
i is  h
i is  i
i is  s
i is
i is  i
i is  s
i is
i is  A
i is  r
i is  s
i is  h
i is  a
i is  d
i is  '
i is  s
i is
i is  p
i is  e
i is  n
i is  .

In [24]:
a = 2

a = a  * 4
print(a)

8

In [30]:
n = int(input("Which number of factorial do you want: "))
fact = 1

for i in range(1, n+1):
    fact *= i

print(f"The factorial of {n}! is {fact}")

Which number of factorial do you want:  2

The factorial of 2! is 2

In [35]:
a = 2
# a = a + 2
a /= 3

print(a)

0.6666666666666666

In [38]:
for i in range(3):
    for j in range(i):
        print(i, j)

1 0
2 0
2 1

In [39]:
13**3

2197

### Home Task
* Take an input from the user and show the reverse factorial of each number
e.g.

* 5! 120
* 4! 24
* 3! 6

In [5]:
n =int(input("Which number of factorial do you want: "))
fact = 1

for i in range(1, n + 1):
    fact *= i

for i in range(n, 0, -1):
    print(f"The Factorial of {i}! is {int(fact)}")
    fact /= i

Which number of factorial do you want:  6

The Factorial of 6! is 720
The Factorial of 5! is 120
The Factorial of 4! is 24
The Factorial of 3! is 6
The Factorial of 2! is 2
The Factorial of 1! is 1

In [38]:
n = 6

for i in range(n, 0, -1):
    fact = 1
    for j in range(1, i+1):
        fact *= j
    print(fact)

720
120
24
6
2
1

In [9]:
n = int(input("Which number of factorial do you want: "))
fact = 1

for i in range(1, n+1):
    fact *= i

print(f"The factorial of {n}! is {fact}")

Which number of factorial do you want:  -4

The factorial of -4! is 1

In [19]:
marks = int(input("What's your marks: "))

if marks >= 50:
    print("You are Pass, Mubarak HO!!")
else:
    print("You are Failed, Mehnat KRO!!")

What's your marks:  49.5

ValueError: invalid literal for int() with base 10: '49.5'

In [28]:
print(2 >= 7)

False

In [33]:
age = int(input("What's your age: "))

if age != 18 :
    print("Allow He!!")
else:
    print("Allow nhi he!!")

What's your age:  18

Allow nhi he!!

In [37]:
num = int(input("Give me a number: "))

if num % 2 != 0:
    print("This is ODD")
else:
    print("This is EVEN")

Give me a number:  84574

This is EVEN

In [3]:
eng = int(input("What's your english Marks: "))
mat = int(input("What's your Math Marks: "))
urd = int(input("What's your Urdu Marks: "))

obt_marks = eng + mat + urd
percentage = obt_marks / 300 * 100

print(f"---------------------\nYour marks are {obt_marks}\nPercentage is {percentage:.2f}%")

if eng < 50 or mat < 50 or urd < 50:
    print("You are Failed, Thats Why Grade is not applicable")
else:
    print("You are Pass")
    if percentage >= 80 and percentage <=100:
        print("Your grade is A+")
    elif percentage >= 70 and percentage <80:
        print("Your grade is A")
    elif percentage >= 60 and percentage <70:
        print("Your grade is B")
    elif percentage >= 50 and percentage <60:
        print("Your grade is C")
    elif percentage >=0 and percentage <50:
        print("You are Failed")
    else:
        print("Invalid Value of Percentage")

What's your english Marks:  51
What's your Math Marks:  52
What's your Urdu Marks:  65

---------------------
Your marks are 168
Percentage is 56.00%
Your grade is C

### Home Task
1. Take a string input from user and count the 'a's in it or a particular character.
2. Correct the Marksheet as if a student fails in a subject it should show Fail.

In [46]:
eng = int(input("What's your english Marks: "))
mat = int(input("What's your Math Marks: "))
urd = int(input("What's your Urdu Marks: "))

if eng > 100 or mat > 100 or urd > 100:
    print("Marks are Exceeding")
else:
    print("Okay he sb kuch")

What's your english Marks:  25
What's your Math Marks:  48
What's your Urdu Marks:  110

Marks are Exceeding

In [16]:
a = input("Give me a String: ").lower()
print(a)
character = input("Give me a character you want to find: ")
count = 0
for i in a:
    print(i.lower(), character.lower())
    if i.lower() == character.lower():
        count += 1
        
print(f"There are {count} {character}'s in {a}")

Give me a String:  ABC

abc

Give me a character you want to find:  a

a a
b a
c a
There are 1 a's in abc

In [44]:
a = "My name is Amjad Aziz. I am student of AI. I work as a Data Analyst."
x = " Amjad Aziz "
b = " abc@gmail.com "
y = x.swapcase()
# y = a.title()
# y = a.lower().count("A".lower())
# print(a.upper())
# print(a.lower())
# print(a.capitalize())
# print(b.strip())
# print(y)
# print(len(x))
# y = a.find("k")
# y = a.replace("Amjad", "Arshad")
# y = a.split(".")

print(y)

 aMJAD aZIZ

In [60]:
x = " pakistan  Came into being   on 14   August 1947.Its is my   country."
z = " ".join(x.strip().split()).split(".")
z = " ".join(z).lower().capitalize()
# z[42].append()
print(z)
# print(z.find("7"))

Pakistan came into being on 14 august 1947 its is my country

In [62]:
a = "Amjad"

print(a.lower())

amjad